*{
  background-color: black;
  margin: 0;
  color: aliceblue;
  box-sizing: border-box;

}

body{
  font-family: 'Times New Roman', Times, serif;

}


















/* Tickets Page Navbar */

.navbar{
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: aliceblue;
}

.navbar-container{
  display: flex;
  align-items: center;
  padding: 0, 50px;
  height: 100%;


}

.navbar-container a{
  text-decoration: none;
}

.navbar-container :hover{
  color: crimson;
  cursor: pointer;
}

.logo-container :hover{
  color: aliceblue;
}


.logo-container{
  flex: 5;     
}

.logo{
  font-size: 40px;
  padding: 20px;
  
}

.container{
  min-height: calc(100vh - 50px);
}

.home-container{
  flex: 1; 
  font-size: 22px;
  font-weight: bolder;    
}

.tickets-container{
  flex: 1;  
  font-size: 22px;
  font-weight: bolder;     
}

.events-container{
  flex: 1;     
  font-size: 22px;
  font-weight: bolder;  
}

.visit-container{
  flex: 1;    
  font-size: 22px;
  font-weight: bolder;   
}

























/* Movie Ticket System */


.movie-list-title{
  color: crimson;
}

.movie-list-container{
  padding: 0 20px;

}

.movie-list-wrapper{
  position: relative;
  overflow: hidden;


}

.movie-list{
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out; 
  
}

.movie-list-item{
  margin-right: 30px;
  position: relative;


}

.movie-list-item:hover .movie-list-item-img{
   transform: scale(1.2);
   margin: 0 30px;
   opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title{
  opacity: 1;
}

.movie-list-item:hover .movie-list-item-button{
  opacity: 1;
  text-decoration: none;
}

.movie-list-item:hover .movie-list-item-button-2{
  opacity: 1;
  text-decoration: none;
}

.movie-list-item-img{
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title{
  background-color: transparent;
  padding: 0, 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;

}

.movie-list-item-title span a{
  background: transparent;
  background-color: transparent;
}

.movie-list-item-title-button span{
  background:transparent;
}

.movie-list-item span{
  background: transparent;
}

.movie-list-item-button{
  padding: 10px;
  background-color: crimson;
  color: aliceblue;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;


}

.movie-list-item-button-2 a{
  /* background-color: transparent; */
  text-decoration: none;
  color: aliceblue;
  background: crimson;
  
}





.movie-list-item-button-2{
  padding: 10px;
  background-color: crimson;
  text-decoration: none;
  outline: none;
  color: aliceblue;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
  list-style: none;


}




.arrow{
  font-size: larger;
  size: 1000px;
  position: absolute;
  top: 150px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}
  




@media only screen and (max-width: 940px){
  .navbar-container{
      display: none;
  }
}





















/* Tickets Page Footer */


.footer-container{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
   
}

.footer{
  background-color: #111;

}


.footer-container{
  width: 100%;
  padding: 70px 30px 20px;
}

.social-icons{
  display: flex;
  justify-content: center;

}

.social-icons a{
  text-decoration: none;
  padding: 10px;
  background-color: black;
  margin: 10px;
  border-radius: 50%;
   
}

.social-icons a i{
  font-size: 2em;
  color: white;
  opacity: 0.9;

}

/* over Effects on Social Media Icons */

.social-icons a:hover{
  background-color: black;
  transition: 0.5s;
  
}

.social-icons a:hover i{
  color: white;
  transition: 0.5s;
  

}

.footer-nav{
  margin: 30px 0;
}

.footer-nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-nav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}

.footer-nav ul li a:hover{
  opacity: 1;

}

.footer-bottom{
  background-color: black;
  padding: 20px;
  text-align: center;
}

.bottom-bottom p{
  color: white;
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px){
  .footer-nav ul {
      flex-direction: column;
  }
  .footer-nav ul {
      width: 100%;
      text-align: center;
      margin: 10px;

  }

}